*{
    box-sizing: border-box;
}
body{
    background-color: chocolate;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height:60vh;
    width: 50vw;
    background-color: rgb(132, 0, 255);
    margin-top: 120px;
    

}
#button-1{
    background-color: grey;
    display: block;
    padding: 9px;
    color: aliceblue;
    font-weight: bold;
}
select{
    display: block;
    width: 50vw;
    margin-top: 20px;
    padding-left: 30px;

}
input{
    display: block;
    width: 100%;
    margin-top: 20px;
}
#button-2{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: black;
    color: aliceblue;
}

